@import "bootstrap/scss/bootstrap.scss";
// @import "bootstrap-dark-5/scss/bootstrap-night.scss";
@import "@simonwep/pickr/src/scss/themes/nano.scss";

body {
  overflow-x: hidden;
}

.sidenav-container {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.canvas-container {
  display: flex;
  height: 30.625rem;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}